Step 1 : Gathering the data

In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('/content/Housing Data.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Step2 : Data Cleaning

In [2]:
data['mainroad'] = data['mainroad'].apply({'no':0,'yes':1}.get)
data['guestroom'] = data['guestroom'].apply({'no':0,'yes':1}.get)
data['basement'] = data['basement'].apply({'no':0,'yes':1}.get)
data['hotwaterheating'] = data['hotwaterheating'].apply({'no':0,'yes':1}.get)
data['airconditioning'] = data['airconditioning'].apply({'no':0,'yes':1}.get)
data['prefarea'] = data['prefarea'].apply({'no':0,'yes':1}.get)
data['furnishingstatus'] = data['furnishingstatus'].apply({'furnished':1,'semi-furnished':2,'unfurnished':3}.get)
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

Stem3 : Divide the data into independant(x) dependant(y) variables

In [3]:
x = data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y = data['price']
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,2
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [4]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Step4 : Split the data into training and testing

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [6]:
x_train.shape

(436, 12)

In [7]:
x_test.shape

(109, 12)

Creating machine learning model for linear regression algorithum

In [8]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [9]:
regression.fit(x_train,y_train)

LinearRegression()

In [10]:
predictions = regression.predict(x_test)
print(predictions.size)
print(predictions)

109
[5166227.90117688 2691641.74102955 5236646.09058592 7273094.02058421
 5828029.33074949 7014698.00013185 4772991.6940733  5854737.70718907
 2869922.68231885 5428130.15099318 3098558.42215409 6042184.37174602
 3948091.79431461 3689593.60817815 6052589.70804645 3586847.23334952
 3929208.2756547  2757487.26712146 3329398.93172774 2846269.08845773
 5572856.8737028  3332396.10207052 2688824.197383   6966253.46856204
 3234197.31586228 7222787.58808798 4098738.60033461 4751002.0917204
 4052763.22687182 4483189.3547512  5019635.45141205 2656374.63726627
 4987087.90615507 7230730.52782009 3569281.33265636 8120927.86992272
 4708019.45671862 5118941.82555607 3568818.7935855  3519982.00915034
 5233729.50191018 3641110.56493215 4488072.39597999 5455770.46528508
 4161573.51010199 4062122.87944446 7035200.62555651 5656107.42146774
 3739558.28854763 7274389.66647266 5322833.60342205 8550917.28600868
 3901507.90825728 3874655.12957854 6166438.33509169 5061700.74419075
 4727248.23810217 5183000.89805666 6608311.13192535 6123338.71170057
 3291202.4361188  4833546.59023553 3381853.04316869 2984374.14386969
 2747622.62030632 3715434.14893899 3275860.67286124 3654326.50441487
 5203753.57170637 4008786.42789239 4053848.48672504 2521678.76005897
 6190565.4230092  3615001.04140233 4302895.14472607 5575406.42915531
 4627811.19636539 5775907.90014738 2566113.11890774 3957148.24246916
 5422394.74344985 5815087.05878738 6557829.69998994 3927013.63369996
 3172543.27326765 5117414.30120628 3469364.37663099 5557918.60882982
 2859266.71485508 6931842.6560809  6073569.11052161 4568119.92626771
 4082222.09961947 6039459.41589481 5502420.50280303 6985735.64881618
 3108647.13524524 5957832.81065105 5295573.65788175 3212405.18422429
 6580302.35281423 5763694.64521728 6755901.55222779 3770877.55078655
 4089858.43540269 6474816.64929106 4943541.57582067 2937765.11937401
 6307456.64585456]

In [11]:
regression.score(x,y)

0.6779503782569594

Predictions for new data set

In [12]:
new = {'area':8000,'bedrooms':3,'bathrooms':4,'stories':2,'mainroad':1,'guestroom':1,'basement':1,'hotwaterheating':1,'airconditioning':1,'parking':3,'prefarea':1,'furnishingstatus':1}
index = [1]
newdata = pd.DataFrame(new,index)
print(newdata)

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
1  8000         3          4        2         1          1         1

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
1                1                1        3         1                 1